body {
  padding: 0px !important;
  margin: 0px !important;
}
.content{
  min-height: 1200px;
  margin-top: 30px;
  padding: 0 20% 0 20%;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
