@font-face {
  font-family: 'mumuteaiconfont';  /* project id 880731 */
  src: url('//at.alicdn.com/t/font_880731_g0rcrythye.eot');
  src: url('//at.alicdn.com/t/font_880731_g0rcrythye.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_880731_g0rcrythye.woff') format('woff'),
  url('//at.alicdn.com/t/font_880731_g0rcrythye.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_880731_g0rcrythye.svg#mumuteaiconfont') format('svg');
}

.mumuteaiconfont {
  font-family:"mumuteaiconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mumuteaicon-weixin:before { content: "\e636"; }

.mumuteaicon-weibo:before { content: "\e63e"; }

.mumuteaicon-github:before { content: "\f1b4"; }

.mumuteaicon-zan:before { content: "\f1b4"; }

.mumuteaicon-collection:before { content: "\f1b4"; }
